blis==0.7.11
catalogue==2.0.10
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
confection==0.1.5
cymem==2.0.11
debugpy==1.8.13
emoji==2.14.1
en-biobert-ner-symptom @ https://huggingface.co/pmaitra/en_biobert_ner_symptom/resolve/main/en_biobert_ner_symptom-any-py3-none-any.whl#sha256=287fec482a5e66d3e59213cf57b984720a9445294a21b72933971b0302acf510
filelock==3.17.0
fsspec==2025.3.0
huggingface-hub==0.16.4
idna==3.10
jinja2==3.1.6
joblib==1.4.2
langcodes==3.5.0
language-data==1.3.0
marisa-trie==1.2.1
MarkupSafe==3.0.2
mpmath==1.3.0
murmurhash==1.0.12
negspacy==1.0.4
networkx==3.2.1
numpy==1.21.6
packaging==24.2
pandas==1.3.0
pathlib-abc==0.1.1
pathy==0.11.0
preshed==3.0.9
protobuf==6.30.0
pydantic==1.10.21
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
six==1.17.0
smart-open==6.4.0
spacy==3.5.4
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-stanza==1.0.3
spacy-transformers==1.2.5
srsly==2.5.1
stanza==1.5.0
sympy==1.13.1
thinc==8.1.12
tokenizers==0.13.3
torch==2.5.0
tqdm==4.67.1
transformers==4.30.2
typer==0.9.4
typing-extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wasabi==1.1.3
fastapi
uvicorn
